@model dynamic

@{
    int currentPage = (int)Model.CurrentPage;
    int totalPages = (int)Model.TotalPages;
    string actionName = (string)Model.ActionName;
    string controllerName = (string)Model.ControllerName;
    object routeValues = (object)Model.RouteValues ?? new { };
}

@if (totalPages > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-0">
            @if (currentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action(actionName, controllerName, new { page = 1, pageSize = Model.PageSize, /* others from routeValues */ })">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action(actionName, controllerName, new { page = currentPage - 1, pageSize = Model.PageSize, /* others from routeValues */ })">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
            }

            @{
                var startPage = Math.Max(1, currentPage - 2);
                var endPage = Math.Min(totalPages, startPage + 4);
                startPage = Math.Max(1, endPage - 4);
            }

            @for (var i = startPage; i <= endPage; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action(actionName, controllerName, new { page = i, pageSize = Model.PageSize, /* others from routeValues */ })">@i</a>
                </li>
            }

            @if (currentPage < totalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action(actionName, controllerName, new { page = currentPage + 1, pageSize = Model.PageSize, /* others from routeValues */ })">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="@Url.Action(actionName, controllerName, new { page = totalPages, pageSize = Model.PageSize, /* others from routeValues */ })">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>
}